# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Explore common development environments.
- Demonstrate evaluating arithmetic expressions in Python.
- Discuss the significance of Jupyter Notebooks.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. matplotlib
3. scikit-learn

| Data Science Tools |
|--------------------|
|Google Colab |
|Jupyter Notebooks |
|RStudio |

### Below are a few examples of evaluating arithmetic expresssions in python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Kamdyn Shaeffer